body{
    margin: 0;
    padding: 0;
    background: #eefdef;
    text-align: center;
}

table{
    font-family: cursive;
    border: black 2px solid;
    /*: auto;
    margin-top: 90px;*/
    border-collapse: collapse;
}
table tr th{
    padding: 15px;
    margin: 0%;
    border: purple 2px solid;
}
table tr td{
    padding: 15px;
    margin: 0%;
    border: pink 2px solid;
}

h1{
    color: black;
}
button[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
button[type = "submit"]:hover{
    background: #2ecc71;
    color: white;
  }
.reg button a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
/*.update a:hover{
    text-decoration: none;
    color: #2ecc71;
}
.delete a:hover{
    text-decoration: none;
    color: red;
}
*/
.fa-edit a{
    text-decoration: none;
    color: limegreen;
}

.fa-minus-circle a{
    text-decoration: none;
    color:#ff1111;
}